[submodule "client/mod_piper/piper1-gpl"]
	path = client/mod_piper/piper1-gpl
	url = https://github.com/OHF-Voice/piper1-gpl.git
[submodule "client/mod_whisper/whisper.cpp"]
	path = client/mod_whisper/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp.git
[submodule "beanstalkd"]
	path = beanstalkd
	url = https://github.com/beanstalkd/beanstalkd.git
[submodule "client/mod_piper/beanstalk-client"]
	path = client/mod_piper/beanstalk-client
	url = https://github.com/deepfryed/beanstalk-client.git
[submodule "server/heretic"]
	path = server/heretic
	url = git@github.com:Ifiht/heretic.git
